/* VARS */
:root {
    --transparent-light: #ffffff15;
}

/* Sort button */
.my-btn {
    height: 100%;
    background-color: #00000000;
    color: var(--bs-body-color);
    text-align: center;
    cursor: pointer;
    padding: 1px;
    border-radius: 15%;
}
.my-btn:hover {
    background-color: var(--transparent-light);
}

