[Unit]
Description=WatchYourNuts
Documentation=https://github.com/aceberg/WatchYourNuts
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/WatchYourNuts -d /etc/WatchYourNuts/
Restart=on-failure

[Install]
WantedBy=multi-user.target